.div-tabla {
    overflow-x: auto;
}

.personas-tabla {    
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;

    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.personas-tabla thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.personas-tabla th,
.personas-tabla td {
    padding: 12px 15px;
}

.personas-tabla tbody tr {
    border-bottom: 1px solid #dddddd;
}

.personas-tabla tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.personas-tabla tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.personas-tabla tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}